---
import logo from "../../public/svgs/logo.svg";
import Fonts from "../assets/fonts.astro";
import Background from "../assets/Background.astro";
---

<Fonts />
<!-- Renders the <style is:global> with @font-face rules -->
<div id="container">
    <Background />
    <main>
        <section id="hero">
            <ul id="listie">
                <h1 class="font-uncage">zen</h1>
                <a href="https://astro.build"
                    ><img
                        src={logo.src}
                        width="200"
                        height="200"
                        alt="zens stuf"
                        id="loggie"
                    /></a
                >
            </ul>
        </section>
    </main>
</div>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");

    #container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    ul {
        display: flex;
        gap: 0;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    main {
        padding: 40px;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        color: white;
    }

    h1 {
        font-size: 200px;
        margin: 0; /* Add this to remove default margins */
    }

    #hero {
        display: flex;
        align-items: flex-start; /* Change from 'start' to 'flex-start' */
        flex-direction: column;
    }

    #loggie {
        margin-bottom: -100px;
        margin-left: -25px;
    }

    #links {
        display: flex;
        gap: 16px;
    }

    #links a {
        display: flex;
        align-items: center;
        padding: 10px 12px;
        color: #111827;
        text-decoration: none;
        transition: color 0.2s;
    }

    #links a:hover {
        color: rgb(78, 80, 86);
    }

    #links a svg {
        height: 1em;
        margin-left: 8px;
    }

    #links a.button {
        color: white;
        background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
        box-shadow:
            inset 0 0 0 1px rgba(255, 255, 255, 0.12),
            inset 0 -2px 0 rgba(0, 0, 0, 0.24);
        border-radius: 10px;
    }

    #links a.button:hover {
        color: rgb(230, 230, 230);
        box-shadow: none;
    }

    h2 {
        margin: 0 0 1em;
        font-weight: normal;
        color: #111827;
        font-size: 20px;
    }

    p {
        color: #4b5563;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.006em;
        margin: 0;
    }

    .box {
        padding: 16px;
        background: rgba(255, 255, 255, 1);
        border-radius: 16px;
        border: 1px solid white;
    }

    @media screen and (max-height: 368px) {
        #news {
            display: none;
        }
    }

    @media screen and (max-width: 768px) {
        #container {
            display: flex;
            flex-direction: column;
        }

        #hero {
            display: block;
            padding-top: 10%;
        }

        #links {
            flex-wrap: wrap;
        }

        #links a.button {
            padding: 14px 18px;
        }

        #news {
            right: 16px;
            left: 16px;
            bottom: 2.5rem;
            max-width: 100%;
        }

        h1 {
            line-height: 1.5;
        }
    }
</style>
